<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="215" android:versionName="5.28" android:compileSdkVersion="31" android:compileSdkVersionCodename="12" package="com.gigaset.update" platformBuildVersionCode="31" platformBuildVersionName="12">
    <uses-sdk android:minSdkVersion="19" android:targetSdkVersion="31"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.hardware.sensor.accelerometer"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.TYPE_APPLICATION_OVERLAY"/>
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.REBOOT"/>
    <uses-permission android:name="android.permission.RECOVERY"/>
    <uses-permission android:name="android.permission.DELETE_CACHE_FILES"/>
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS"/>
    <uses-permission android:name="android.permission.ACCESS_CACHE_FILESYSTEM"/>
    <uses-permission android:name="android.permission.CHANGE_OVERLAY_PACKAGES"/>
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"/>
    <permission android:name="com.gigaset.update.permission" android:protectionLevel="normal"/>
    <uses-permission android:name="com.gigaset.update.permission"/>
    <permission android:name="com.gigaset.update.get_content_permission" android:protectionLevel="normal"/>
    <uses-permission android:name="com.gigaset.privacypolicy.get_content_permission"/>
    <application android:theme="@style/Base.AppTheme" android:label="@string/app_name" android:icon="@mipmap/ic_launcher" android:name="com.gigaset.update.MyApplication" android:persistent="true" android:allowBackup="false" android:largeHeap="true" android:supportsRtl="true" android:usesCleartextTraffic="true" android:resizeableActivity="false" android:roundIcon="@mipmap/ic_launcher_round" android:appComponentFactory="androidx.core.app.CoreComponentFactory" android:requestLegacyExternalStorage="true">
        <activity android:theme="@style/Main.AppTheme" android:label="@string/app_name" android:name="com.gigaset.update.GoogleOtaClient" android:exported="true" android:excludeFromRecents="true" android:launchMode="singleTop" android:configChanges="screenSize|orientation|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.action.VIEW"/>
                <action android:name="com.android.settings.action.EXTRA_SETTINGS"/>
            </intent-filter>
            <intent-filter>
                <action android:name="systemupdate.intent.action.ROM_SYSTEM_OTA"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name="com.gigaset.update.activity.SettingActivity" android:configChanges="screenSize|orientation|keyboardHidden"/>
        <activity android:name="com.gigaset.update.activity.FileBrowserActivity" android:configChanges="screenSize|orientation|keyboardHidden"/>
        <activity android:name="com.gigaset.update.activity.SdcardUpdateActivity" android:configChanges="screenSize|orientation|keyboardHidden"/>
        <activity android:theme="@style/AppUIStyle.TranslucentActivity" android:name="com.gigaset.update.activity.InstallResultActivity" android:taskAffinity="" android:excludeFromRecents="true" android:configChanges="screenSize|orientation|keyboardHidden"/>
        <activity android:theme="@style/AppUIStyle.TranslucentActivity" android:name="com.gigaset.update.activity.PopupActivity" android:taskAffinity="" android:excludeFromRecents="true" android:launchMode="singleTask" android:configChanges="screenSize|orientation|keyboardHidden"/>
        <activity android:theme="@style/AppUIStyle.TranslucentActivity" android:name="com.gigaset.update.activity.ShortCutActivity"/>
        <receiver android:name="com.gigaset.update.receiver.MyReceiver" android:enabled="true" android:exported="false">
            <intent-filter>
                <action android:name="com.gigaset.update.custom_service"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_MOUNTED"/>
                <action android:name="android.intent.action.MEDIA_REMOVED"/>
                <action android:name="android.intent.action.MEDIA_BAD_REMOVAL"/>
                <data android:scheme="file"/>
            </intent-filter>
        </receiver>
        <service android:name="com.gigaset.update.service.CustomActionService" android:permission="android.permission.BIND_JOB_SERVICE" android:exported="false"/>
        <service android:name="com.gigaset.update.service.SystemActionService" android:permission="android.permission.BIND_JOB_SERVICE" android:exported="false"/>
        <service android:name="com.gigaset.update.manager.JobScheduleManager" android:permission="android.permission.BIND_JOB_SERVICE" android:exported="false"/>
        <provider android:name="com.gigaset.update.MyContentProvider" android:readPermission="com.gigaset.update.get_content_permission" android:exported="true" android:authorities="com.gigaset.update.MyContentProvider" android:grantUriPermissions="true"/>
    </application>
</manifest>
